<div class="header">
  <div class="flex ptd-10">
    <!-- 
	  header logo
	-->
    <div class="header-logo">
      <div class="fs-big">{{ appName }}</div>
    </div>

    <!-- 
	  header right
	-->
    <div class="header-free">
      <form class="flex" action="action_page.php">
        <input type="text" placeholder="Search..." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <!--
          <nav>
            <div class="list-row">
              <li>Top</li>
              <li>Usage</li>
              <li>Download</li>
              <li>Contact</li>
              <li>Top</li>
              <li>Usage</li>
              <li>Download</li>
              <li>Contact</li>
              <li>Top</li>
              <li>Usage</li>
              <li>Download</li>
              <li>Contact</li>
            </div>
          </nav>
	  -->
    </div>
  </div>

  <!-- 
	header description
      -->
  <div class="header-description pb-10 bg-333">
    {{ description }}
  </div>
</div>
