<div class="header">
  <div class="flex ptd-10">
    <!-- 
	  header logo
	-->
    <div class="header-logo">
      <div class="fs-big">{{ appName }}</div>
    </div>

    <!-- 
	  header right
	-->
    <div class="header-free">
      <form class="flex" action="action_page.php">
        <input type="text" placeholder="Search..." />
        <button type="submit"><span class="fa fa-search"></span></button>
      </form>
    </div>
  </div>

  <!-- 
	header description
      -->
  <div class="header-description pb-10 bg-333">
    {{ description }}
  </div>
</div>
