.options {
  font-size:16px;
  margin-bottom: 20px;
}
.option {
  font-size:16px;
  margin-bottom: 15px;
}
button {
  width: 200px;
  height: 30px;
}
h2 {
  font-size: 20px;
  margin: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}
